body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

}

/*header*/

header img{
    height: 50px;
    padding-left: 10px;
}

header{
    position: fixed;
    border-bottom: .5px solid seashell;
    top: 0;
    right: 0;
    left: 0;
    height: 69px;
    display: flex;
    align-items: center;
    background-color: black;
    
    


}
/*navbar within header*/

.navbar{
    margin-left: auto;
}
.navbar ul{
    list-style-type: none;
    display: flex;
   gap: 20px;
   padding-right: 10px;
   

    
}

.navbar a{
    color: seashell;
    text-decoration: underline;
}



/* Our Mission Background Section */
.mission-background{
    margin-top: 69px;
    background-image: url('img/img-mission-background.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;

   
    display: flex;
    justify-content: center;
    align-items: center;}

.mission-box{
    background-color: black;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Tea of the Month Section */

.tea-box{
    background-color: black;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
/* Tea of the Month Photo row 1*/
.tea-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;  
    max-width: 1000px;
    gap: 20px;
    margin: 0 auto;
}
.tea-item{
text-align: center;

}
   .tea-item img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    
    /* Tea of the Month Photo row 2*/    
   }
   .tea-gallery2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;  
    max-width: 1000px;
    gap: 20px;
    margin: 0 auto;

   }
   .tea-item2{
text-align: center;

}


   .tea-item2 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    
}

.locations{

background-image: url('');
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    

    display: flex;                /* make it flex */
  flex-direction: column;       /* stack children vertically */
  justify-content: center;      /* vertical center */
  align-items: center;          /* horizontal center */
  text-align: center;
  gap: 15px;                    /* space between header and grid */
}

.locations-header{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.locations-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


    .downtown{

   background-color:black;
   width:300px;
   text-align: center;
    }
    .East-Bayside{
   background-color:black;
   width:300px;
   text-align: center;
  
    
    }

    .Oakdale{
   background-color:black;
   width:300px;
   text-align: center;
   
    }

    .info{
        text-align: center;
        background-color: black;
         width: 1200px;
         height: 200px;
    margin: 0 auto;
    text-align: center;

    }

    /*footer*/
    .footer{
        margin-left: 20px;
        text-align: left;
    }
